@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

body {
  background-color: #EDF5F4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ECF0F1;
  box-shadow: 0px 15px 10px -15px #111;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header .logo {
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  font-weight: 800;
  margin-left: 60px;
}

.header ul {
  display: flex;
  list-style: none;
  margin-right: 60px;
}

.header li:hover {
  animation: shake 0.5s infinite;
}

.header li .menuitem {
  color: black;
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  font-weight: 600;
  margin-right: 30px;
  text-decoration: none;
  transition: 2s;
}

.header li .menuitem.active {
  border-bottom: 2px solid red;
}

.header li .menuitem:hover {
  border-bottom:2px solid red;
}

.slideshow {
  border-radius: 10px;
  padding-top: 70px;
  width: 100%;
}

.slideshow .slide {
  animation-name: fade;
  animation-duration: 1.5s;
  display: none;
}

.slideshow .slide:first-child {
  display: block;
}

.slideshow .slide img {
  height: calc(100vh - 130px);
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.slideshow .prev, .slideshow .next {
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  width: auto;
}

.slideshow .prev {
  border-radius: 0 3px 3px 0;
  left: 0;
}

.slideshow .next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

.slideshow .prev:hover, .slideshow .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideshow .control {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.slideshow .control .dot {
  background-color: #BBB;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  width: 15px;
}

.slideshow .control .dot:hover {
  background-color: #717171;
}

.slideshow .control .dot.active {
  background-color: #717171;
  border: 2px solid red;
}

.sports {
  border-radius: 10px;
  cursor:pointer;
  margin-bottom: 10px;
}

.sports:hover {
  animation: shake 0.5s infinite;
  box-shadow:5px 5px 20px black;
}

.sports img {
  border-radius: 20px 0 20px 0;
  height: 180px;
  margin-top: 10px;
  object-fit: cover;
  width: 100%;
}

.sports h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px 0 10px;
  text-align: center;
}

.more {
  background-color: black;
  border-top: 10px solid red;
  height: 270px;
  width: 100%;
}

.more .title {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 800;
  margin-top: 70px;
  text-align: center;
  word-spacing: 10px;
}

.more .btn {
  background-color: black;
  border: 5px solid red;
  border-radius: 50px;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-left: 500px;
  padding: 11px;
  width: 600px;
}

.banner {
  background-color: grey;
  padding-bottom: 10px;
  text-align: center;
}

.banner i {
  color: orange;
  font-size: 80px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

.banner i:hover{
	color:white;
}